<script src="~/Scripts/Components/CalculatorComponent.js"></script>
@*<script src="~/Scripts/Controllers/calcCtrl.js"></script>*@



<div ng-controller="calcCtrl">

    <my-welcome title="Calculadora"></my-welcome>
    <my-calculator-multiply></my-calculator-multiply>

</div>